html, body {
  height: 100%;
  width: 100%;
  color:black;
}

body {
  background-image: url("pelumibgimg.jpg");
}

.pp {
  width:400px; 
  height:500px;
  border-radius: 10%;
}

.navigation {
  height: 70px;
  background: #1f3d3f;
}

.logo { 
  position: absolute;
	padding-left: 20px;
	float: left;
	line-height: 70px;
	text-transform: uppercase;
	size: 1.4em;
  color: #fff;
} 

.logo a, .logo a:visited {
  color: #fff;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
	float: right;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	float: left;
	Position: relative;
}

nav ul li a, nav ul li a:visited {
	display: block;
	padding: 0 20px;
	line-height: 70px;
	background: #1f3d3f;
	color: #fff;
	text-decoration: none;
}

nav ul li a:hover, nav ul li a:visited:hover {
	background: #2581dc;
	color: #fff;
}

nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
	padding-left: 4px;
	content: ' ▾';
}

nav ul li ul li {
	min-width: 190px;
}

nav ul li ul li a {
	padding: 15px;
	line-height: 20px;
}

.nav-dropdown {
	position: absolute;
	display: none;
	z-index: 1;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

#footer {
  text-align: center;
}